body{
  background-color: #030303;
  color: white;
}
#title{
  text-align: center;
}
.content{
  margin-right: 5%;
  margin-left: 2rem;
  display: inline-block;
}
.btn-toolbar{
  margin-left: 40%;
  margin-top: 3%;
}
.modal{
  color: black;
}