.history{
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-right: 9px;
}
span{
  color: white;
}
.lines{
  display: inline-block;
}
.inline{
  color: white;
  display: inline-block;
  font-weight: bold;
  text-align: center;
 text-align: center;
  vertical-align: middle;
  line-height: 50px;
}